<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Angular infinite scroll</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,100,700,500italic,400%7CMaterial+Icons+Extended%7COpen+Sans:300,400,600,700%7CProduct+Sans:400&amp;lang=ru" rel="stylesheet">
    <script src="./js/lib/angular.min.js"></script>
    <script src="./js/angular-loader.js"></script>
    <script src="./js/lib/angular-common.js"></script>
    <script src="./js/app.js"></script>
    <!-- common social tags -->
</head>
<script>
    var App = {
        provider: 1,
        options: {
            user: 'esc001',
            params: {
                limit: 10,
                offset: 0
            }
        }
    }
</script>
<body ng-app="tmblrApp" ng-controller="tmblrCtrl">
<div class="js-topbar" class="clear" sticky bottom-class="main-content" use-placeholder="false" body-class="scroll">
    <div class="header-inner center">
        <div class="header-left">
            <a href="/#home" class="logo he-xt">Porn [Photo, Video, Music]</a>
        </div>
        <div class="header-middle">
            <div class="headerSearch" role="search">
                <div class="main-search">
                    <live-search live-search-callback="searchCallback" live-search-item-template="searchTemplate" live-search-select="title" live-search-callback="navTag()" ng-model="searchLine"></live-search>
                </div>
            </div>
        </div>
        <div class="header-right clear">
            <div class="dropdown">
                <span class="dropdown-toggle"><i class="icon-list"></i></span>
                <ul class="dropdown-menu right">
                    <li><a href="/?user=k-piglet/">Katerina Piglet</a></li>
                    <li><a href="/?user=eriction/">Eriction</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header id="main-header">
    <div class="cover-content">
        <div class="profile">
            <div class="profile-inner">
                <div class="profile-header">
                    <div class="profile-headerBg">
                        <img alt="" src="//pbs.twimg.com/profile_banners/275220510/1454171958/1500x500" style="transform: none;">
                    </div>
                </div>
                <div class="profile-navBar">
                    <div class="grid-cell profile">
                        <div class="profileAvatar">
                            <img src="//api.tumblr.com/v2/blog/grafire.tumblr.com/avatar/128" class="ProfileAvatar-image" alt="">
                        </div>
                        <div class="profileDesc">
                            <div class="link">@grafire</div>
                            <div class="name">Uzen Else</div>
                        </div>
                    </div>
                    <div class="grid-cell footer-stats">
                        <div class="profileStats">

                        </div>
                        <nav class="profileMenu" role="navigation">
                            <a href="/?user=grafire&tag=hot">hot</a>
                            <a href="/?user=grafire&tag=gif">gifs</a>
                            <a href="/?user=grafire&tag=cute">cute</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
    <main id="content">
        <div id="primary" buffer-status="status" hwnd="nextPage()" scroller>
            <div class="main-content" role="main">
                <section class="page-element" column-header="buffer" prefix="item"></section>
            </div>
            <!-- #content -->
        </div>
        <!-- #primary -->
        <div class="widget-area" role="complementary">
            <aside id="pop-video" class="widget">
                <h4 class="title">Popular Videos</h4>
                <a href="" title="name"><img src="SQegngT.jpg" class="previmg"></a>
                <div class="tf">My weekly mixtape of fresh music. Enjoy new discoveries and deep cuts chosen just for you.</div>
            </aside>

            <aside id="pop-music" class="widget">
                <h4 class="title">Popular Music</h4>
                <div class="tf">
                    <div class="dropdown">
                        <a type="button" data-toggle="dropdown" href="#" class="btn dropdown-toggle">Grafire <i class="arrow"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="navLink({user:'grafire'})">Grafire</a></li>
                            <li><a href="#" ng-click="navLink({user:'staff'})">Tumblr Staff</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
        <!-- #secondary -->
    </main>
    <!-- Footer -->
    <footer>
        <div class="fixable-wrapper">
            <div class="ft-column1 waypoint">
                <a href="http://github.com/uzen/"><em>Get it theme</em></a>
            </div>
            <div class="ft-column2 waypoint">
                <a alt="more posts" href="/random"><em>What's New</em></a>
            </div>
            <div class="ft-column3 waypoint">
                <a href="/sumbit"><em>What do you think?</em></a>
            </div>
        </div>
        <div class="ft-data">
            <div class="ft-logo"><img src="" width="151px" height="83px"></div>
            <div class="ft-button">
                <div class="ft-social">
                    <a target="_blank" href="/" class="fb"></a>
                    <a target="_blank" href="/" class="tw"></a>
                    <a target="_blank" href="/rss" class="rss"></a>
                </div>
                <a rel="nofollow" href="#" onclick="window.scrollTo(0,0);return !1;" class="btn-push">Scroll UP</a>
            </div>
            <div class="ft-main">
                <p class="ft-meta">© 2015 Angular infinite scroll.</p>
                <p class="ft-meta">This is a Blog for people 18+. Here you will find high quality pictures with girls in art, NSFW, fashion, erotic, photography. This Blog is the missing link between Art and Porn.</p>
            </div>
        </div>
    </footer>
</body>
</html>
