<!DOCTYPE html>
<html ng-app="app.tumblr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="./stylesheets/style.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300' rel='stylesheet' type='text/css'>
<script src="./js/lib/angular.min.js"></script>
<script src="./js/lib/angular-content-loader.js"></script>
<script src="./js/lib/angular-common.js"></script>
<script src="./js/app.js"></script>
</head>
<body>
<div id="page" ng-controller="isController">
<header class="home" sticky>
	<div id="navbarlogo">
		<h1><a href="/" title="Return to the main page">{Title}</a></h1>
	</div>
	<div class="searchbar">
	<form class="form-control" action="/search" method="get">
		<div class="sfsbc"><button value="Search" aria-label="Search" type="submit"> <i class="icon-search"></i> </button></div>
		<div class="tsfi"><input type="text" name="q" placeholder="search..." autocomplete="on" /></div>
	</form>
	</div>
	<div class="rbarmenu">	
		<nav class="navbarmenu">
		   <a href="#" ng-click="eff()">Home</a>
		   <a href="#" ng-click="eff('photo')">Pictures</a>
		   <a href="#" ng-click="eff('audio')">Music</a>
		   <a href="#" ng-click="eff('video')">Videos</a>
		   <a href="#" ng-click="eff('link')">Links</a>
		   <a href="#" class="nav-follow btn-push">Grafire</a>
		</nav>
	</div>
</header>
<div id="main" class="wrapper">
<div id="primary" scroller>
	<div id="content" role="main">
		<div class="panel"></div>
		<content-item class="page-element" format="format" user="user"></content-item>
	</div>
	<!-- #content -->
</div>
<!-- #primary -->
<div id="secondary" class="widget-area" role="complementary">
	<div class="panel"> 
<h1 class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Angular infinite scroll</a>
		<ul class="dropdown-menu">
                    <li><a href="#" ng-click="euf('grafire')"><h5>Grafire</h5></a></li>
                    <li><a href="#" ng-click="euf('staff')"><h5>Tumblr Staff</h5></a></li>
      </ul>
</h1>
	</div>
	<aside id="menu" class="widget">	
		<div class="tf"><p>Test</p></div>
	</aside>
	<aside id="pop-video" class="widget">
		<h4>Popular Videos</h4>
		<a href="" title="name"><img src="" class="previmg" height="190px"></a>
		<div class="tf"><p>text</p></div>
	</aside>
</div>
<!-- #secondary -->
</div>
<div id="banner1"></div>
<footer id="colophon" role="contentinfo">
<div class="fixable-wrapper">
<div class="ft-column1 waypoint">
<a href="http://github.com/uzen/"><em>Get it theme</em></a>
</div>
<div class="ft-column2 waypoint">
<a alt="more posts" href="/random"><em>What's New</em></a>
</div>
<div class="ft-column3 waypoint">
<a href="/sumbit"><em>What do you think?</em></a>
</div>
</div>
<div class="ft-data">
<div class="ft-logo"><img src="" width="151px" height="83px"></div>
<div class="ft-button">
	<div class="ft-social">
		<a target="_blank" href="/" class="fb"></a>	
		<a target="_blank" href="/" class="tw"></a>
		<a target="_blank" href="/rss" class="rss"></a>
	</div>
	<a rel="nofollow" href="#" onclick="window.scrollTo(0,0);return !1;">Scroll UP</a>
</div>
<div class="ft-main">
<p class="ft-meta">© 2015 Angular infinite scroll.</p>
<p class="ft-meta">{Description}</p>
</div>
</div>
</footer>
</div>

</body>
</html>
