/* CSS RESET */

a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}
article,aside,audio,canvas,figcaption,figure,figure img,footer,header,hgroup,main,nav,section,video {
    display: block
}
ol,ul {
    list-style: none
}
button, input, optgroup, option, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
blockquote {
    padding: 20px;
    border-left: 5px solid #FF5A20;
    margin-bottom: 24px;
    background: #eee;
    position: relative
}
blockquote>:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}

blockquote:after,blockquote:before {
    color: #ccc;
    font-size: 40px;
    position: absolute
}

blockquote:before {
    top: 0;
    left: 10px;
}

blockquote:after {
    bottom: 0;
    right: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
hr {
    border-top: 1px solid #4d4e53;
    height: 0;
    margin: 20px 0
}
/* Clearing floats */

.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::selection { background: #5FD0DC; color: #000; }
::-moz-selection { background: #5FD0DC; color: #000; }
::-webkit-scrollbar { width: 10px; background: #F6F6F6;}
::-webkit-scrollbar-thumb:vertical { background-color: #656565;}
::-moz-scrollbar { width: 10px; background: #F6F6F6;}
::-moz-scrollbar-thumb:vertical { background-color: #656565;}
::-webkit-input-placeholder { color: #676767; }
:-moz-placeholder { color: #676767; }
::-moz-placeholder { color: #676767; }
:-ms-input-placeholder { color: #676767; }

html {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.54;
}
html {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}
body { 
    font: 14px/20px 'Open sans',Arial,sans-serif;
    min-height: 100%;
    color: #4d4e53;
}
/* H1, H2, H3, H4, h5 */

h1,h2,h3,h4,h5 {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 47px
}

h2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 42px
}

h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px
}

h4 {
    font-size: 26px;
    font-weight: 300;
    line-height: 30px
}

h5 {
    font-size: 21px;
    font-weight: 300;
    line-height: 30px
}

/* Links */
a,a:focus {
    color: #0095dd;
    text-decoration: none
}

a:active,a:hover{
	 color: #FF4A0B;
	 outline:0
}
a i[class^=icon-]:before {
    cursor: pointer
}

a[name] {
    color: inherit;
    text-decoration: none
}

abbr[title] {
    cursor: help
}

sup {
    position: relative;
    top: -.15em;
    vertical-align: top
}

code {
    font-family: Consolas,Courier,monospace
}

pre {
    font-size: 14px;
    font-size: 1rem;
    line-height: 19px;
    border: 0;
    background: #f4f7f8;
    color: #4d4e53;
    padding: 14px;
    overflow: auto;
    margin: 0 0 20px;
    font-family: Consolas,Monaco,monospace
}

pre code {
    font-family: inherit;
    font-weight: inherit;
    font-style: normal
}

@media all and (max-width: 768px) {
    h1 code,h2 code,h3 code,h4 code,h5 code,h6 code {
        word-break:break-all
    }
}
input[type=search] {
    -webkit-appearance: textfield;
    appearance: textfield;
}
img.previmg {
    width: 100%!important;
    display: block;
    height: auto;
}
.center {
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
}
.he-xt {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}
a img {
    border: none
}
/* Button */
.btn { 
    display: inline-block;
    outline: none;
    border: 0;
    padding: 0 22px;
    font-family: Roboto,sans-serif;
    font-style: inherit;
    line-height: 38px;
    font-weight: 400;
    font-size: 16px;
    color: white!important;
    height: 40px;
    width: auto;
    text-align: center;
    background: #FF5A20;
    border-bottom: 3px solid #F1490D;
    border-radius: 0;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}
.btn:hover,
.btn:focus {
    background-color: #EC470D;
    border-bottom-color: #D8400B;
}
.btn.dark {
	 background-color: #9da6af;
    border-bottom-color: #8E8484;
}
.main-search:before,
.stat-notes:before, 
i[class^="icon-"], i[class*=" icon-"] {
    font-family: 'Material Icons Extended';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  vertical-align: middle;
}
.icon-arrow:before {
    content: '\e906';
}
.icon-list:before {
    content: '\e8EF';
}
.icon-label:before {
    content: '\e89A';
}
/* Header */
.js-topbar {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    position: fixed;
    background-color: #fff;
    height: 54px;
    width: 100%!important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.header-inner {
	 display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: relative;
}
.scroll .js-topbar .logo {
    opacity: 1;
    visibility: visible;
}
.dropdown-menu, .js-topbar .logo {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.header-middle {
	 padding: 0 20px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.header-left, .header-right {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.js-topbar .logo {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    opacity: 0;
    width: 56px;
    height: 54px;
    background: url(//38.media.tumblr.com/avatar_376454e8af9a_64.png) 0 0 no-repeat;
}
/* Header - COVER */
#main-header {
	height: 100%;
}
.cover-content {
	padding: 54px 0 0;
	position: relative;
}
.profile, .profile-header {
   height: 230px;
}
.profile-header {
	 position: relative;
    z-index: 3;
    transition: height .3s;
}
.profile-header:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2);
    z-index: 1;
}
.profile-headerBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.profile-headerBg img {
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    margin: auto 0;
    width: 100%;
}
.profile-header, .profile-header:hover, .profile-header:focus {
    background-color: #66757F !important;
}
.profile-inner {
    position: relative;
    width: 100%;
    z-index: 4;
}
/* Header - MENU BOTTOM BAR */
.profile-navBar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
}
.grid-cell {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-direction: normal;
    box-direction: normal;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.grid-cell.profile {
    height: 148px;
	 padding: 30px 34px;
}
.grid-cell.footer-stats {
    background-color: rgba(0,0,0,0);
    background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.46));
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.46))
}
.profileAvatar {
    margin-top: 8px;
}
.ProfileAvatar-image {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
    position: relative;
    height: 100px;
    width: 100px;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}
.profileDesc {
    font: 17px/22px Roboto,sans-serif;
    color: #fff;   
    overflow: hidden;    
    margin-left: 34px;
}
.profileDesc, .profileMenu {
    text-align: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    -webkit-box-direction: normal;
    box-direction: normal;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.profileDesc .name {
	 display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 14px;
    word-break: break-word;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.profileDesc .link {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.profileDesc .name {
    display: inline-block;
    font-size: 36px;
    font-weight: 400;
}
.profileStats {

}
.profileMenu a {
    display: inline-block;
    color: #FFFFF0;
    font-weight: 600;
    text-transform: capitalize;
    padding: 20px 34px 18px;
    border-bottom: 2px solid transparent;
}
.profileMenu a:hover, .profileMenu a:active, .profileMenu a:focus {
    border-color: #FF5A20;
}
/* Search */
.main-search {
    position: relative;
	 max-width: 500px;
	 height: 42px; 
	 margin: 0;
}
.main-search:before {
	 content: '\e8B6';
    transition: 150ms color;
    position: absolute;
    font-size: 25px;
    color: inherit;
    line-height: 1;
    z-index: 2;
    left: 12px;
    top: 10px;
}
.main-search input {
    transition: 150ms background,150ms color;
    color: rgba(255,255,255,.5);
    padding: 2px 10px 0 44px;
    background: rgba(0,0,0,.13);
    font-weight: 500;
    font: 16px/20px Roboto,sans-serif;
    height: 100%;
    width: 100%;
    border: 0;
    outline: none;    
	 color: inherit;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.main-search input:hover, .main-search input:focus {
    cursor: text;
}
/* Content */
#content {
    display: inline-table;
    width: 100%;
    background-color: #f5f5f5;
    clear: both;
}
#primary {	
    display: inline-block;
    margin: 0 0 0 -340px;
    width: 100%;
}
.main-content {
	 margin: 0 0 0 340px;
}
/* Content - Items */
.page-element {
    text-align: center;
    white-space: nowrap;
    position: relative;
    margin: 0 16px;    
    padding: 22px 0 0;
}
.page-element .columns {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    white-space: normal;
    min-width: 250px;
    max-width: 500px;
    line-height: normal;
    padding: 0 16px 0 0;
}
.page-element .columns:last-child{
    padding-right: 0;
}
.page-element figure img {
		max-width: 100%;
}
.page-element .item-num {
    position: relative;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    background: #fefefe;
}
.item-num .cover-caption {
    overflow: hidden;
}
.cover-caption h1 {
    font-size: 28px;
    font-weight: 300;
    line-height: 40px;
}
.item-num .soundcloud_audio_player,
.item-num #youtube_iframe {
    width: 100%;
}
/* Content - Items - Header */
.item-num .cover-user-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 14px 0 12px
}

.item-num .article-content {
    padding: 14px 14px 18px;
}
.cover-fields {
    padding: 0 0 8px;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}
.cover-fields a{
    margin: 0 10px 0 0;
    font-weight: normal;
    color: #8a8c8e;
    text-transform: uppercase;
    font-size: 11px;
    font-size: 0.8rem;
}
.cover-user-wrap .vt {
	    outline: none;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
}
.cover-user-wrap .vt img {
	 height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 0;
    margin: 11px 0 6px;
}
.cover-user-wrap .iu {
    -webkit-flex: 1;
    flex: 1;
    padding: 0 0 0 14px;
    margin: 0 14px 0 0;
}
.cover-user-wrap .iu .hu{
    font: 15px/22px Roboto,sans-serif;
    white-space: nowrap;
}
.cover-user-wrap .iu .dt{
    font-size: 11px;
    font-weight: 300;
}
/* Content - Items - Footer */
.cover-stat{
    padding: 4px 0 0;
}
.stat-notes {
	 text-transform: uppercase;
    color: #999;
    font-size: 13px;
}
.stat-notes:focus {
    color: #999;
}
.stat-notes:before {
    display: inline-block;
    content: '\e895';
    font-size: 18px;
    background: #eee;
    color: #fff;
    height: 25px;
    width: 25px;
    line-height: 26px;
    padding-left: 3px;
    margin-right: 8px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
}
.stat-notes b {
    color: #555;
    font-weight: 600;
}
.photoset {
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.photoset div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
}
/* Sidebar */

.widget-area, .profileStats {
    display: inline-block;
    position: relative;
    float: left;
    width: 340px;
}
.widget-area .widget {
    background: #fefefe;
    margin-bottom: 16px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    word-wrap: break-word;
}
.widget-area .widget .title {
    font: 20px/36px Roboto,sans-serif;
    font-weight: 300;
    padding: 8px 14px;
}
.widget-area .tf {
    padding: 16px 0;
    margin: 0 14px;
    font-family: arial,sans-serif;
    font-weight: 300;
    line-height: 20px;
}
/* РџРѕР»Рµ РѕСЃРЅРѕРІРЅРѕРіРѕ РєРѕРЅС‚РµРЅС‚Р° */



/* Р¤РѕСЂРјР°С‚ Р·Р°РїРёСЃРё С„РѕС‚Рѕ */

.tags {
    margin-top: 40px;
}
.tags a {
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  padding: 3px 10px;
  color: #000;
  border: 1px solid #000;
  white-space: nowrap;
}
.tags a:hover{
	color: #f9f9f9;
	background-color: #000;
}
.link-text{
  background-color: #56bc8a;
  width: 100%;
  color: #F5F4F4;
  text-align: center;
  padding: 45px 14px;
}
.link-text a{
	color: #f9f9f9;
	font-size: 20px;
  font-weight: 600;
}
/* РџРѕРґРІР°Р» */
.fixable-wrapper {
    float: left;
    background: #686868;
    padding-bottom: 16px;
    -webkit-box-shadow: #aaa 0 1px 3px;
    box-shadow: #aaa 0 1px 3px;
    width: 100%;
}
.waypoint {
    float: left;
    text-align: center;
}
.waypoint a {	
    line-height: 40px;
}
.waypoint a em{
    font-size: 20px;
    letter-spacing: .3px;
    color: #222;
}
.ft-column1 {
    background-color: #fff;
    width: 33%;
}
.ft-column2 {
    background-color: #f9f9f9;
    width: 34%;
}
.ft-column3 {
    background-color: #f1f1f1;
    width: 33%;
}   
.ft-data {
    padding: 1.625em 1.25em;
    background: #fff;
    color: #777;
    clear: both;
}
.ft-main {
	margin-left: 200px;
   max-width: 70%;
}
.ft-button {
  float: right;
  padding-right: 40px;
}

.ft-logo {
  float: left;
}
.ft-meta {
  font-size: 14px;
  line-height: 20px;
}
/* Dropdown menu */
.dropdown {
    position: relative;
}
.dropdown-menu.right {
    left: initial;
    right: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background: #fff;
    cursor: default;
    -webkit-transform: translate(0px,10px);
    -moz-transform: translate(0px,10px);
    -ms-transform: translate(0px,10px);
    -o-transform: translate(0px,10px);
    transform: translate(0px,10px);
}
.dropdown-menu>li>a {
    display: block;
    font: 14px/36px Roboto,sans-serif;
    text-align: left;
    padding-left: 16px;
    color: inherit;
    font-style: inherit;
    font-weight: inherit;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #f5f5f5;
}
.open > .dropdown-menu {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.open > a {
  outline: 0;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-toggle {
    position: relative;
    cursor: pointer;
}
/*Live Search styles start*/
ul.searchresultspopup {
	border: #a4bed4 1px solid;
	margin-top: 0px;
	padding: 0px;
	z-index: 99999!important;
	position: fixed;
	background-color: white;
	/*max-height:200px;*/
	border-collapse: separate;
	overflow-y: hidden;
}

ul.searchresultspopup > li {
	cursor: pointer;
	padding-left: 1px;
	text-align: left;
	list-style: none;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-transform: lowercase;
}

ul.searchresultspopup li.selected, ul.searchresultspopup li:hover {
	background-color: #ededed;
}

ul.searchresultspopup b {
	color: blue;
}

ul.searchresultspopup strong {
	color: green;
}
@media screen and (max-width: 640px) {
    html {
        min-width: 294px;
    }
    .ft-column1, .ft-column3, .widget-area, .profileStats {
        display: none;
    }
    .ft-column2 {
        width: 100%!important;
    }
    .main-search {
        max-width: 250px;
    }
    .main-content, #primary {
        margin: 0;
    }
}
